/* Tailwind import if needed */
@import "tailwindcss";

/* Tailwind directives if using Tailwind */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #FFFEF3;
  --foreground: #171717;
  --font-poppins: 'Poppins';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
}